@import url(https://fonts.googleapis.com/css?family=Spectral);

html{
    scroll-behavior: smooth;
}

body{
  font-family: Spectral, sans-serif;
  background-color: #A9CEF4;
  font-size: 18px;
  margin-top: 20px;
}


h1{
  font-size: 40px;
  line-height: 1;
  padding: 50px 0;
  text-align: center;
  color: black;
}

h2{
  color: black;
  text-align: center;
  font-size: 22px;
}
h3{
  font-size: 30px;
  line-height: 1;
  color: black;
  text-align: center;
}

nav ul{
  list-style-type: none;
  padding-left: 20px;
}

nav li{
  display: inline;
  padding-right: 15px;
}


nav a{
  color: #0c101c;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover{
  text-decoration: underline;
}

.current{
  text-decoration: underline;
}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

.skip a:focus{
  top: 0;
}

*:focus {
  border: 2px solid black;
}

footer{
  background-color: #1f1a20;
  color: #DCE0D9;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  grid-column: 1/-1;
  grid-row: 17/auto;
}

.footercolor{
  color: white;
  text-align: center;
}
.container {
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 15px;
  display: grid;
  grid-template-rows: 30px auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto 100px;
  width: 100%;

}
.nav{
  padding: 10px 0;
  text-align: center;
  grid-column: 1/-1;
  grid-row: 1/3;
  background-color: white;
}

header{
background-attachment: fixed; /* Parallax effect */
background-image: url("../images/aridesert.JPG");
background-repeat: no-repeat;
background-position: center;  /* Parallax effect */
background-repeat: no-repeat; /* Parallax effect */
background-size: cover;       /* Parallax effect */
color: white;
height: 200px;
grid-column: 1/-1;
grid-row: 2/3;
}


.retro{
  color: black;  /* adding retro challenge to header */
  letter-spacing: 0.05em;
  text-shadow: 2px 2px 0px #d5d5d5, 4px 4px 0px rgba(0, 0, 0, 0.2);
}

p{
  color: black;
  text-align: left;
}
.retroshadow{  /* adding retro challenge to headers of the pages */
color: #2c2c2c;
background-color: #a9cef4;
letter-spacing: 0.05em;
text-shadow: 2px 2px 0px #d5d5d5, 4px 4px 0px rgba(0, 0, 0, 0.2);
}

/* index.html page*/
.friends-image{
  grid-column: 1/-1;
  grid-row: 5/6;
  overflow: hidden;
}

.chip-image{
  grid-column: 1/-1;
  grid-row: 4/5;
  overflow: hidden;
}

.me-image{
  grid-column: 1/-1;
  grid-row: 6/7;
  overflow: hidden;
}

.sky-image{
  grid-column: 1/-1;
  grid-row: 7/8;
  overflow: hidden;
}

/* about page  */
.about-image{
  grid-column: 1/-1;
  grid-row: 3/4;
  justify-content: center;
  overflow: hidden;
}

.about{
  grid-column: 1/-1;
  grid-row: 4/5;
}

.abouttext{
  font-size: 20px;
  text-align: center;
}
.abouthead{
  font-size: 35px;
}

/* resume page */
.secondresume-image{
  grid-column: 1/-1;
  grid-row: 3/11;
  overflow: hidden;
}

.resume{
grid-column: 1 /-1;
grid-row: 3/4;
}

.resumehead{
  color: #1f1a20;;
}

.textbox{
  background-color: white;
  opacity: .6;
  text-align: left;
  border: 10px solid white;
}
.profexp{
grid-column: 1/-1;
grid-row: 4/5;
}

.profcontent{
grid-column: 1/-1;
grid-row: 5/7;
}

.campusinvolv{
grid-column: 1/-1;
grid-row: 7/8;

}

.campuscont{
grid-column: 1/-1;
grid-row: 8/9;
}

.skills{
grid-column: 1/-1;
grid-row: 9/10;

}
.skillscont{
grid-column: 1/-1;
grid-row: 10/11;
}

/* Projects page */

.projecthead{
  grid-column: 1/ -1;
  grid-row: 3/ 4;
}

.salons-image{
  grid-column: 1/ -1;
  grid-row: 6/ 7;

}

.tedxhead{
  grid-column: 1/ -1;
  grid-row: 4/5;
}

.textbox2{
  background-color: white;
  opacity: .65;
  text-align: left;
  border: 50px solid #a9cef4;
}


.tedx{
  grid-column: 1/ -1;
  grid-row: 5/6;
}

.uxhead{
  grid-column: 1/ -1;
  grid-row: 7/ 8;
}

.ux-image{
  grid-column: 1 /-1;
  grid-row: 9/10 ;
  overflow: hidden;
}

.research{
  grid-column: 1 /-1;
  grid-row: 8/ 9;
}

.si350head{
grid-column: 1 /-1;
grid-row: 10/ 11;
}

.si350{
  grid-column: 1 /-1;
  grid-row: 11/12;
}
.class-image{
  grid-column: 2/4;
  grid-row: 12/13;
}

/* Books page */

.books-image{
  grid-column: 1 /-1 ;
  grid-row: 3/ 4;
  height: 500px;
  overflow: hidden;
  webkit-filter: grayscale(100%); /* Adding grayscale to picture */
  filter: grayscale(100%);
}

.kenburns-top {  /* css animation taken from http://animista.net/play/background */
	-webkit-animation: kenburns-top 5s ease-out both;
	        animation: kenburns-top 5s ease-out both;
}


@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
            transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}

.books{
  grid-column: 1/-1;
  grid-row: 5/6;
  }
  .womantextbox{
grid-column: 1/-1;
grid-row: 6/7;
  }
  .girltextbox{
    grid-column: 1/-1;
    grid-row: 7/8;
  }

  /* photos page */

.aridesert-image{
    grid-column: 1/-1;
    grid-row: 3/4;
    overflow: hidden;
    -webkit-filter: saturate(200%); /* Adding saturation to picture */
    filter: saturate(200%); /* got this from w3 schools*/
  }

.suma-image{
  grid-column: 1/-1;
  grid-row: 6/7;
  overflow: hidden;
  webkit-filter: grayscale(100%); /* Adding grayscale to picture */
  filter: grayscale(100%); /* got this from w3 schools*/
  }

.lilacs2-image{
  grid-column: 1/-1;
  grid-row: 7/8;
  overflow: hidden;
  -webkit-filter: saturate(200%); /* adding saturation to picture */
  filter: saturate(200%); /* got this from w3 schools*/
  }

  .marissa-image{
    grid-column: 1/-1;
    grid-row: 8/9;
    justify-content: center;
    overflow: hidden;
    webkit-filter: sepia(35%); /* adding sepia to picture */
    filter: sepia(35%);      /* got this from w3 schools*/
  }

.cousins-image{
  grid-column: 1/-1;
  grid-row: 4/5;
  overflow: hidden;
  -webkit-filter: drop-shadow(8px 8px 10px gray); /* Adding dropshadow to picture */
  filter: drop-shadow(8px 8px 10px gray); /* got this from w3 schools*/
  }

.tedx-image{
  grid-column: 1/-1;
  grid-row: 9/10;
  overflow: hidden;
  }

.mopop-image{
  grid-column: 1/-1;
  grid-row: 10/11;
  overflow: hidden;
  }

.wedding2-image{
  grid-column: 1/-1;
  grid-row: 11/12;
  justify-content: center;
  overflow: hidden;

}
.fall-image{
  grid-column: 1/-1;
  grid-row: 12/13;
  justify-content: center;
  overflow: hidden;
  -webkit-filter: blur(2px); /* adding blur to picture */
   filter: blur(2px); /* got this from w3 schools*/
}
.allison-image{
  grid-column: 1/-1;
  grid-row: 13/14;
  justify-content: center;
  overflow: hidden;
  webkit-filter: sepia(75%); /* adding sepia to picture*/
  filter: sepia(75%);      /* got this from w3 schools*/
}

.emmag-image{
  grid-column: 1/-1;
  grid-row: 14/15;
  justify-content: center;
  overflow: hidden;
}

/* styling the form got this from w3schools */
input[type=text]{
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit] {
  background-color: #a9cef4;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: black;
}

.form {
  border-radius: 5px;
  background-color: #a2a0b5;
  padding: 20px;
  grid-column: 1/-1;
  grid-row: 16/17;
}
/* tablet view */
@media screen and (min-width: 768px){
  h1{
    font-size: 50px;
    line-height: 1;
    padding: 50px 0;
    text-align: center;
    color: black;
  }
  .nav{
    padding: 20px 0;
    text-align: left;
    grid-column: 1/-1;
    grid-row: 1/3;
    background-color: white;
  }

    /* index.html page*/

    .friends-image{
      grid-column: 3/4;
      overflow: hidden;
      }

    .chip-image{
      grid-column: 3/4;
      overflow: hidden;
      }

    .me-image{
      grid-column: 2/3;
      grid-row: 4/5;
      overflow: hidden;
      }

    .sky-image{
      grid-column: 2/3;
      grid-row: 5/6;
      overflow: hidden;
      }
      /* about page */
.about-image{
  grid-column: 1/-1;
  grid-row: 4/5;
  justify-content: center;
  overflow: hidden;
  }
.about{
  grid-column: 1/-1;
  grid-row: 3/4;
}
.aridesert-image{
  grid-column: 1/3;
  grid-row: 6/7;
  overflow: hidden;
  }


.cousins-image{
  grid-column: 1/3;
  grid-row: 5/6;
  overflow: hidden;
}

.tedx-image{
  grid-column: 2/4;
  grid-row: 8/9;
  overflow: hidden;
}

.mopop-image{
  grid-column: 4/5;
  grid-row: 8/9;
  overflow: hidden;
}

.wedding2-image{
  grid-column: 3/5;
  grid-row: 5/6;
  justify-content: center;
  overflow: hidden;
}
.fall-image{
  grid-column: 1/2;
  grid-row: 8/9;
  justify-content: center;
  overflow: hidden;
  }
.allison-image{
  grid-column: 4/5;
  grid-row: 7/8;
  justify-content: center;
  overflow: hidden;
}
.emmag-image{
  grid-column: 3/5;
  grid-row: 6/7;
  justify-content: center;
  overflow: hidden;
}
.suma-image{
  grid-column: 1/3;
  grid-row: 4/5;
  overflow: hidden;
  }

.lilacs2-image{
  grid-column: 3/5;
  grid-row: 4/5;
  overflow: hidden;
}
.marissa-image{
  grid-column: 1/2;
  grid-row: 7/8;
  justify-content: center;
  overflow: hidden;
}
.form {
  border-radius: 5px;
  background-color: #a2a0b5;
  padding: 20px;
  grid-column: 2/4;
  grid-row: 7/8;
  }

  }


/* desktop view */
@media screen and (min-width: 1025px){

  .container{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 30px auto auto auto auto auto auto auto auto auto auto auto auto 100px;
  }
  header p{
    font-size: 30px;
  }
 .nav{
   padding: 20px 0;
   text-align: right;
   grid-column: 1/-1;
   grid-row: 1/3;
   background-color: #a9cef4;
  }
  footer{
    grid-row: 14/auto;

  }

  /* about page */
.about-image{
  grid-column: 1/3;
    grid-row: 3/4;
    justify-content: center;
    overflow: hidden;
}
  .about{
    grid-column: 3/5;
    grid-row: 3/4;
  }
/* resume page*/
  .resume{
  grid-column: 2/4;
  grid-row: 3/4;
  }

  .profexp{
  grid-column: 1 /2;
  grid-row: 4/5;
  }

  .profcontent{
  grid-column: 2/4;
  grid-row: 4/5;
  }

  .campusinvolv{
  grid-column: 1/2;
  grid-row: 5/6;

  }

  .campuscont{
  grid-column: 2/4;
  grid-row: 5/6;
  }

  .skills{
  grid-column: 1/2;
  grid-row: 6/7;

  }
  .skillscont{
  grid-column: 2/4;
  grid-row: 6/7;
  }

/* Projects page*/
  .projecthead{
    grid-column: 1/ -1;
    grid-row: 3/ 4;
  }

  .textbox2{
    background-color: white;
    opacity: .65;
    text-align: left;
    border: 10px solid #a9cef4;
    font-size: 20px;
    font-stretch: expanded;
  }


  .salons-image{
    grid-column: 2/4;
    grid-row: 6/7;
  }

  .tedxhead{
    grid-column: 2/4;
    grid-row: 4/5;
  }

  .tedx{
    grid-column: 2/4;
    grid-row: 5/6;
  }

  .uxhead{
    grid-column: 2/4;
    grid-row: 7/8;
  }

  .ux-image{
    grid-column: 2/4;
    grid-row: 9/10 ;
    overflow: hidden;
  }

  .research{
    grid-column: 2 /4;
    grid-row: 8/9;
  }

  .si350head{
  grid-column: 2 /4;
  grid-row: 10/11;
  }

  .si350{
    grid-column: 2/4;
    grid-row: 11/12;
  }
  .class-image{
    grid-column: 2/4;
    grid-row: 12/13;
  }
  /* Books page */

  .books-image{
    grid-column: 1 / -1;
    grid-row: 3/ 4;
    max-height: 700px;
    }

.books{
  grid-column: 2/4;
  }
  .womantextbox{
    grid-column: 2/4;
    grid-row:
  }
  .girltextbox{
    grid-column: 2/4;
  }
  /* photos page */
.aridesert-image{
  grid-column: 2/3;
  overflow: hidden;
  }

.suma-image{
  grid-column: 2/3;
  grid-row: 4/5;
  overflow: hidden;
  }

.lilacs2-image{
  grid-column: 3/4;
  grid-row: 4/5;
  overflow: hidden;
}
.form {
  border-radius: 5px;
  background-color: #a2a0b5;
  padding: 20px;
  grid-column: 1/2;
  grid-row: 4/5;
  }

.marissa-image{
  grid-column: 1/2;
  grid-row: 5/6;
  justify-content: center;
  overflow: hidden;
}

.cousins-image{
  grid-column: 2/3;
  grid-row: 5/6;
  overflow: hidden;
}

.tedx-image{
  grid-column: 1/2;
  grid-row: 6/7;
  overflow: hidden;
}

.mopop-image{
  grid-column: 4/5;
  grid-row: 4/5;
  overflow: hidden;
}

.wedding2-image{
  grid-column: 4/5;
  grid-row: 5/6;
  justify-content: center;
  overflow: hidden;
}
.fall-image{
  grid-column: 3/4;
  grid-row: 5/6;
  justify-content: center;
  overflow: hidden;
  }
.allison-image{
  grid-column: 3/4;
  grid-row: 6/7;
  justify-content: center;
  overflow: hidden;
}
.emmag-image{
  grid-column: 4/5;
  grid-row: 6/7;
  justify-content: center;
  overflow: hidden;
}

}

@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }

  .skip a{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: none !important;
    transition: default;
    z-index: 1;
  }


}
